/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace datetime "org.lanelife.framework.components.datetime.*";

@font-face{ 
	src:url("/fonts/msyh.ttf"); 
	font-family:微软雅黑; 
	unicodeRange:U+0030-U+0039,U+0097-U+0122,U+5E74,U+6708,U+65e5,U+4e00,U+4e8c,U+4e09,U+56db,U+4e94,U+516d,U+786e,U+5b9a,U+6e05,U+7a7a,U+4eca,U+5929,U+661f,U+671f,U+519c,U+5386,U+4e03,U+516b,U+4e5d,U+5341,U+84dd,U+6613,U+5b9e,U+9a8c,U+5ba4;
} 


datetime|DatetimePicker {
	color:#838282;
	skinClass:ClassReference("org.lanelife.framework.skins.datetime.DatetimePickerSkin");
}

datetime|YearOrMonthToggleButton {
	skinClass:ClassReference("org.lanelife.framework.skins.datetime.YearOrMonthToggleButtonSkin");
}

datetime|TimePicker {
	skinClass:ClassReference("org.lanelife.framework.skins.datetime.TimePickerSkin");
}

datetime|DayButton {
	skinClass:ClassReference("org.lanelife.framework.skins.datetime.DayButtonSkin");
}

datetime|DateField {
	focusAlpha:0;
	skinClass:ClassReference("org.lanelife.framework.skins.datetime.DateFieldSkin");
}